@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  background-image: url('./pattern6.png');
}

.App {
  padding: 30px;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 40px;
}

#weather-forecast {
  border: 1px solid lightgrey;
  background-color: white;
  padding-top: 30px;
}

#forecast-heading {
  margin-bottom: 10px;
}

#city-heading {
  display: block;
  color: #0d7ee2;
}

.forecast-item {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 30px;
}

.forecast-item li {
  margin-bottom: 3px;
}

.forecast-item li:first-of-type {
  margin-bottom: 8px;
}

select {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 50px;
  border: 1px solid lightgrey;
}
